.DS_Store
.esphome
secrets.yaml
bluetooth-proxy-*.yaml



# For Linux:
docker run \
--sig-proxy=false \
--name nextcloud-aio-mastercontainer \
--restart always \
--publish 8080:8080 \
-e APACHE_PORT=11000 \
-e APACHE_IP_BINDING=0.0.0.0 \
-e DISABLE_BACKUP_SECTION=true \
-e NEXTCLOUD_DATADIR="/Volumes/NextCloud" \
--volume nextcloud_aio_mastercontainer:/mnt/docker-aio-config \
--volume /var/run/docker.sock.raw:/var/run/docker.sock:ro \
nextcloud/all-in-one:latest
